
  .form-container-generic {
    font-family: SourceSansPro;
    background-color:  #F2F2F2;;
    border: none;
    width: 100%;
    padding: 60px;
  }

  #indexdiv {
    padding: 60px;
    background-color: white;

  }

  .form-container-generic input {
    border: 1px solid #dddfe2;
    color: #1d2129; 
    padding: 0 8px;
    outline: none;
  }
  .signup_div{
    height: 70px; background-color: #EBEBEB; width: 100%;
  }
  .signup_h3{
    padding: 25px; padding-left: 60px"
  }

.btn-login {
  font-size: 19px;
  font-family: SourceSansPro;
  width: 150px;
  height: 57px;
  border-width: 0px;
  color: #333333;
  border-color: #FFD216;
  background: #FFD216;
  background-image: url('pictures/doublearrow.png');
  background-repeat: no-repeat;
  background-position: right 15px center;
  padding-left: 15px;
  margin-top: 15px;
  }
  
  #btn-login:hover {
  background:#DAAA00;
  background-image: url(doublearrow.png);
  background-repeat: no-repeat;
  background-position: right 24px center;
  }

  #index-btn {
    width: 250px;
  }

  .loginsignup {
    width: 100%;
  }

  .loginsignup-td {
    padding: 10px;
  }

  /* HOME */
  .para1{
  font-family: 'TT Norms Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  /* or 438% */
  letter-spacing: 0.1em;
  
  color: #000000;
  
  }

  .para2{
  font-family: 'Novel Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  /* or 194% */
  letter-spacing: 0.1em;
  
  color: #000000;
  }

  .para3{
  font-family: 'TT Norms Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  /* or 159% */
  letter-spacing: 0.1em;
  
  color: #000000;
  
  }
  
  /* FAQ */
  
  .form-container-faq {
    font-family: SourceSansPro;
    background-color: #F2F2F2;;
    border: none;
    padding: 60px;
  }

  .accordion-faq {
    background-color: #EBEBEB;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active-faq, .accordion-faq:hover {
    background-color: #ccc;
  }
  
  .accordion-faq:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active-faq:after {
    content: "\2212";
  }
  
  .panel-faq {
    padding: 0 18px;
    background-color: #F2F2F2;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  
  