* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
           
body {
    font-family: 'Source Sans Pro Regular';
    background-color:white;
    color: #1c1e21;
}

main {
    height: 90vh;
    width: 100vw;
    position: relative;
    margin: 0 auto;
}

footer {
    height: 10vh;
    background-color: #ffffff;
}

/* Create two equal columns that floats next to each other */
.column {
    float:inline-start;
    width: 60%;
    padding: 10px;
    font-family: 'Source Sans Pro Regular';
  }
  .column-left{
    float:left;
    width: 20%;
  }
  .form-container {
    font-family: 'Source Sans Pro Regular';
    background-color:  #eeeeeee5 ;
    border: none;
    margin-top: 0%;
    margin-left: 30%;
    width: 45%;
    height: 310px;
    padding: 10px;
    top: 50%;
  
    
    /*margin-bottom: 30px;
    
    max-width: 400px;
    height: 400px; ?*/
}
.form-container input {
    border: 1px solid #dddfe2;
    color: #1d2129;
    padding: 0 8px;
    outline: none;
}
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }
.colm-heading {
  
    height: 90px;
    background-color: #e5e5e5

}

.colm-form {
    flex: 0 0 40%;
    text-align: center;
}

.colm-heading img {
    max-width: 400px;
}

.colm-heading h1 {
   
    color:  #003087;
    padding-left: 40px;
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: 'Source Sans Pro Regular';
  
}



.btn-login {
 font-size:19px;
  font-family:Times New Roman;
  width:134px;
  height:57px;
  text-align:inherit;
  border-width:0px;
  color:#333333;
  border-color:#daaa00;
  background:#daaa00;
  margin-left: 32%;
  margin-top: 2%;
  background-image: url(../images/doublearrow.png);
  background-repeat: no-repeat;
  background-position: right 24px center;
  padding-left: 15px;
  
}

.buttonClass:hover {
  background: rgb(252, 199, 7)
}
input, .colm-form .form-container .btn-login {
    width: 100%;
    margin: 5px 0;
    height: 45px;
    vertical-align: middle;
    font-size: 16px;
    background-color: #E1E8F7  ;
    font-family: 'Source Sans Pro Regular';
     
}
label{
    margin-top: 10px;
}


 

