.headercontainer {
  background-position: center 10%;
  background-repeat: no-repeat;
  background-color: #27348b;
  background-size: cover;
  color: white;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  margin-bottom: 0;

}

.uwa-header {
  background-color: #27348b;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 24px;
  padding-right: 24px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  position:relative;
}

.uwa-header div{
  margin: 0 auto;
  max-width:1200px; 

}

.pic{
  font-size: 20px;
  white-space: nowrap;
} 

.site-nav{
  
  text-align:right;
  background: none;
  list-style-type: none;
  list-style: none;
  position:absolute;
  bottom: 0px;
  right: 0px;
  margin: 0px;
  font-size: 20px;

}

.site-nav li {
  display: inline-block;
  padding-left: 30px;
}

.site-nav .a{
  font-family: 'TTNorms', 'SourceSansPro', "Trebuchet MS", Helvetica, sans-serif;
  font-weight: 600;
  font-size: 18px;
  display: inline-block;
  color: white;
  text-decoration: none;
}

.site-nav .i{
  display: inline-block;
  color:white;
  position:relative;
}

.main-header {
  border-top: none;
  padding-top: 30px;
  padding-bottom: 30px;
  background: #ececec;
  text-shadow: none;
  

  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding-left: 24px;
  padding-right: 24px;
  position: relative;

}

.main-header div{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.main-header h1{
  font-family: 'uwafont', 'SourceSansPro', "Trebuchet MS", Helvetica, sans-serif;
  color: #27348b;
  margin: 0;
  border: 0;
  line-height: 1.2;
  font-size: 2.5rem;
}

.footercontainer {
  font-size: 14px;
  line-height: 18px;
  color: #2b2b2b;
  clear: both;
}

.footlink{
  background-image: url('pictures/footer-watermark.png');
  background-color: #EBEBEB;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;


  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}


.innerdiv{
  padding: 24px 0 12px 0; 
  width: 1248px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.footlinks > div > div {
  margin: 0 -6px;
  font-size: 0px;
}

.social-icons{
  display: inline-block;
  background: none;
  list-style: none;
  bottom: 0px;
  right: 0px;
  padding-left: 0px;
  position:relative;
}

.social-icons li {
  display: inline-block;
  padding-left: 0px;
  padding-right: 10px;
  position:relative;
}

.social-icons i{
  font-size: 22px;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 12px;
  position:relative;
}

.footlink h1{
  font-family: 'uwafont', 'SourceSansPro', "Trebuchet MS", Helvetica, sans-serif;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 20px;
  margin-top: 0px;
  text-align: left;
  position:relative;

}

.info-div{
  width: 50%; 
  margin:0px; 
  vertical-align: bottom; 
  display: inline-block;
  box-sizing: border-box;
  position:relative;
}

.icon{
  margin-right: 0px;
  list-style:none;
  margin-left: 0;
  padding: 0;
}

.icon li { 
  display:block;
  left: 0em;
  line-height: inherit;
  padding-left: 25px;
  margin-bottom: 5px;
  text-align:justify;
  font-size: 13px;
  min-height: 24px;
}

.icon i{
  font-size: 13px;
  line-height: 1;
  text-rendering:initial;
  margin-left: -20px;
  text-align: center;
  position:absolute;
}

.endinfo{
  width: 50%; 
  margin: 0px; 
  padding:15px; 
  vertical-align: bottom; 
  display: inline-block;
  position:absolute;
  text-align: right;
  font-size: 20px;
  }

  .yellowbar{
    background-color: #f4dd88;
    height: 10px;
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    }