/* Step 1 & 2 CSS */

.progress {
  border-radius: 0rem !important;
  background-color: #003087 !important;
}

.progress-bar {
  background-color: #CDDBF4 !important;
}

.vertical {
  background-color: #F2F2F2;
  width: 805px;
}

/* //////////////////////// */

/* Step 1 CSS */
.step1content {
  padding: 60px !important;
}

#selectcourse,
#selectmajor,
#selectbeginning {
  width: 100% !important;
  background-color: #E7E7E7;
  border: 1px solid #C9C9C9;
  color: #000000;
  border-radius: 0;
}

/* Dropdown arrow float right */
.dropdown-toggle::after {
  margin-top: 10px;
  float: right;
}

/* Affects all divs that are children of the div with class dropdowngroup */
.dropdowngroup > div {
  margin-bottom: 5px;
}

.dropdown-item {
  font-size: 15px;
}

/* Dropdowns text */
#selectcourse a,
#selectmajor a,
#selectbeginning a {
  font-family: 'TTNorms', "Trebuchet MS", Helvetica, sans-serif;
  font-size: 15px;
}

#selectcourse,
#selectmajor,
#selectbeginning {
  text-align: left;
  font-family: 'TTNorms', "Trebuchet MS", Helvetica, sans-serif;
  font-size: 15px;
  margin-bottom: 5px;
}

.unit-heading {
  font-family: 'TTNorms', "Trebuchet MS", Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 7px;
  margin-top: 20px;
}

.unit-draggables {
  cursor: grab;
}

#conversionUL li:last-child, 
#coreUL li:last-child, 
#optionalUL li:last-child {
  margin-bottom: 15px;
}

/* Dropdowns */

#selecteddegree {
  max-height: 50vh;
  overflow-y: scroll;
  width: fit-content;
}

#courseInput {
  padding: .25rem 1rem;
  margin-top: 0.25rem !important;
  margin-left: 0px !important;
  margin-bottom: 10px;
  width: fit-content;
  min-width: 200px;
  margin-right: 1rem;
}

#magnifyingglass {
  margin: .25rem 1rem;
}

.warning-div {
  margin-top: 15px;
}

#warning-course, #warning-major {
  color: #fb8585e3;
  margin-top: 15px;
}

/* Tooltip container */
.tooltipinfo {
  position: relative;
  display: inline-block;
  z-index: 55;
  margin-right: 6px;
}

/* Tooltip text */
.tooltipinfo .tooltiptextinfo {
  display:none;
  background-color: #555;
  padding: 15px;
  position: absolute;
  top: 2em;
  width: 270px;
  height: max-content;
  color: #FFFFFF;
  text-align: center;
  border-radius: 6px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;  
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltipinfo:hover .tooltiptextinfo {
  display:inline-block;
  opacity: 1;
}

/* Colors need to be determined by availability. Will need to set one of these up for each unit header. */
#units-content li {
  list-style-type: none;
  position: relative;
}

.sem1::before {
  position: absolute;
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  top: 3px;
  left: -20px;
  background-image: url('pictures/bullets/lightorange.png');
  background-repeat: no-repeat;
  background-size: 13px 13px;
}

.sem2::before {
  position: absolute;
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  top: 3px;
  left: -20px;
  background-image: url('pictures/bullets/green.png');
  background-repeat: no-repeat;
  background-size: 13px 13px;
}
	
.sem1and2::before {
  position: absolute;
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  top: 3px;
  left: -20px;
  background-image: url('pictures/bullets/pink.png');
  background-repeat: no-repeat;
  background-size: 13px 13px;
}

.not_available::before {
  position: absolute;
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  top: 3px;
  left: -20px;
  background-image: url('pictures/bullets/darkorange.png');
  background-repeat: no-repeat;
  background-size: 13px 13px;
}

.non_standard::before {
  position: absolute;
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  top: 3px;
  left: -20px;
  background-image: url('pictures/bullets/lightblue.png');
  background-repeat: no-repeat;
  background-size: 13px 13px;
}

/* No information - if unit doesn't exist in unit list.csv file this will show */
.element::before {
  position: absolute;
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  top: 3px;
  left: -20px;
  background-image: url('pictures/bullets/black.png');
  background-repeat: no-repeat;
  background-size: 13px 13px;
}

.no_marker::marker {
  content: "";
}

/* If element has no_marker class there will only be text in the element list.
This needs to not have indent. */
.no_marker {
  margin-left: -22px !important;
  cursor: auto !important;
}



/* Change cursor and allow for text highlighting/copying */
li {
  margin-bottom: 7px;
  -o-user-select: text;
  -moz-user-select: text;
  -webkit-user-select: text;
  user-select: text;
}

.unit-ul li {
  cursor: grab;
  -o-user-select: text;
  -moz-user-select: text;
  -webkit-user-select: text;
  user-select: text;
}

#units-bottom img {
  margin-right: 5px;
  margin-bottom: 2px;
}

#units-bottom p {
  margin-bottom: 5px;
}


/* //////////////////////// */

/* Step 2 CSS */
#units,
#grid {
  padding-left: 20px;
  padding-right: 20px;
}

#grid {
  overflow-y: scroll;
  max-height: 1025px;
}

#units-content {
  background: #F2F2F2;
  width: 400px;
  overflow-y: scroll;
  overflow-x: clip;
  padding: 30px;
  max-height: 720px;
}


/* This needs to be updated to reflect the different colors of different unit availability */
#units-content ul {
  font-family: 'TTNorms', "Trebuchet MS", Helvetica, sans-serif;
  font-size: 14px;
  padding-left: 22px;
  margin-left: -2px;
}

#units-bottom {
  width: 400px;
  height: 290px;
}

#units-bottom p {
  font-family: 'TTNorms', "Trebuchet MS", Helvetica, sans-serif;
  font-size: 14px;
}

/* this is the div where the info icon is */
#info-icon {
  display: flex;  
  flex-direction: row;
  justify-content: end;
}

/* this is the info icon that can trigger the general info modal */
#myModal {
  color: #003087;
  cursor: pointer;
  font-size: 2.5rem;
  margin-bottom: 0;
}

/* the general info modal */

.modal {
  z-index: 999 !important;
  left: 0;
  top: 0;
  width: 100%;
  height: 100% !important;
  justify-content: center;
  overflow: scroll !important; 
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  width: 70% !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10% auto;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  text-align: justify;
}

.modal-header {
  display: flex !important;
  flex-direction: row !important;
  background: #003087;
  padding: 0.5rem 0.5rem !important;
  color: #000;
  justify-content: flex-end !important;
}

.modal-body {
  background: #fff;
  margin: 30px 50px ; 
}

.modal-body p {
  letter-spacing: 0.2px;
}

.modal-body h5 {
  font-family: 'TTNorms';
  font-size: 14px;
  margin-top: 15px;
}

.modal-body h3 {
  font-family: 'TTNorms';
  font-size: 17px;
}

.modal-body p {
  font-family: 'TTNorms';
  font-size: 14px;
}

.general li {
  font-family: 'TTNorms';
  font-size: 14px;
}

#close-info {
  color:#F2F2F2;
  cursor: pointer;
  font-size: 30px;  
}

/* specific to unit information modal */
.unitrules {
  margin-bottom: 0px;
}

.unitsrulesheader {
  text-decoration: underline;
}

#title {
  text-transform: uppercase;
}

.creditpoints {
  font-weight: bold;
}

@media only screen and (max-width: 800px) {
  #units {
    padding-bottom: 20px;
    margin-left: -20px !important;
  }}

@media only screen and (max-width: 800px) {
  #gridsystem, #units, #units-progress, #units-content, #units-bottom, #grid {
    width: 100% !important;
    margin: 0px !important;
  }}

@media only screen and (max-width: 800px) {
  .units {
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 20px;
  }}

#units-progress {
  width: 400px;
}

#units-progress-grid {
  margin-left: -20px !important;
  margin-right: -20px !important;
}

#units-bottom {
  padding: 30px;
  background-color: #E7E7E7;
}

#grid {
  background: #F2F2F2;
}

#course-title {
  margin-top: 10px;
  font-family: 'TTNorms', "Trebuchet MS", Helvetica, sans-serif;
  letter-spacing: 0.05em;
  font-size: 16px;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  font-weight: bold;
}

#course-information > p {
  margin-bottom: 0px !important;
  line-height: 1.8em;
}

/* Grid container */
#gridcontainer {
  padding: 0px;
}

.unit-on-grid {
  background-color: #E7E7E7;
  margin: 10px;
  border: 1px solid #C9C9C9;
  text-align: center;
  padding: 20px;
  list-style: none;
}

#grid-content {
  padding: 30px;
}

#grid-content p, li {
  font-family: 'TTNorms', "Trebuchet MS", Helvetica, sans-serif;
  font-size: 14px;
}

#grid-content li {
  cursor: pointer;
}

.semester-paragraph {
  font-family: 'TTNorms', "Trebuchet MS", Helvetica, sans-serif;
  letter-spacing: 0.05em;
  font-size: 20px !important;
  margin-bottom: 0.5rem;
  padding-top: 25px;
}

.semester-paragraph:first-child {
  padding-top: 15px;
}

.semester-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
}

/* If target container has a unit in it, this is what it will look like */
.target {
  margin: 10px;
  background-color: #E7E7E7;
  border: 1px solid #C9C9C9;
  text-align: center;
  padding: 20px;
  min-height: 90px;
  list-style: none;
  flex: 1; /* sets width of target container to fill width*/
}

/* If target container is empty (i.e., no unit in it, this is what it will look like */
.target:empty {
  background-color: #E7E7E7;
  background-image: url('pictures/circlex.png');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  margin: 10px;
  border: 1px solid #C9C9C9;
  text-align: center;
  padding: 20px;
  min-height: 90px;
  list-style: none;
  flex: 1; /* sets width of target container to fill width*/
}

.target:first-child {
  margin-left: 0px;
}


/*the floating box*/
#warning{
  position:fixed; 
  bottom:0; 
  width: 100%; 
  background-color: rgb(246, 212, 212);
}

#warningbox{
  padding:20px;
  text-align:center;
}

#alertinfo{
  margin: 0; 
  display: inline;
  position: relative; 
  display: inline-block;
}

#nonstandardteachingperioddiv {
  background-color: #FFF3CD;
  padding: 15px;
  border-radius: 10px;
}

#notavailablediv {
  background-color: #FFF3CD;
  padding: 15px;
  border-radius: 10px;
}

#notavailabledivtext {
  margin-bottom: 0px;
  margin-top: 3px;
  float: right;
}

#nonstandardteachingperiod {
  margin-bottom: 0px;
}

/* fontawesome */
.fa-circle-minus:hover {
  color: red;
}

.fa-rectangle-xmark {
  cursor: pointer;
}

/* Remove unit */
.removeunitbutton {
  color: #999999;
  cursor: pointer;
}

