/* Step 1 & 2 CSS */

.progress {
  border-radius: 0rem !important;
  background-color: #003087 !important;
}

.progress-bar {
  background-color: #CDDBF4 !important;
}

.vertical {
  background-color: #F2F2F2;
  width: 805px;
}

/* //////////////////////// */

/* Step 1 CSS */
.step1content {
  padding: 60px !important;
}

#selectcourse,
#selectmajor,
#selectbeginning {
  width: 100% !important;
  background-color: #E7E7E7;
  border: 1px solid #C9C9C9;
  color: #000000;
  border-radius: 0;
}

/* Dropdown arrow float right */
.dropdown-toggle::after {
  margin-top: 10px;
  float: right;
}

/* Affects all divs that are children of the div with class dropdowngroup */
.dropdowngroup > div {
  margin-bottom: 5px;
}

/* Dropdowns text */
#selectcourse a,
#selectmajor a,
#selectbeginning a {
  font-family: TTNorms;
  font-size: 14px;
}

#selectcourse,
#selectmajor,
#selectbeginning {
  text-align: left;
  font-family: TTNorms;
  font-size: 14px;
}

.unit-heading {
  font-family: TTNorms;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 7px;
  margin-top: 20px;
}

.unit-draggables {
  cursor: grab;
}

#conversionUL li:last-child, 
#coreUL li:last-child, 
#optionalUL li:last-child {
  margin-bottom: 15px;
}

/* Dropdowns */

#selecteddegree {
  max-height: 50vh;
  overflow-y: scroll;
}

#courseInput {
  padding: .25rem 1rem;
  margin-top: .25rem 1rem !important;
  margin-left: 0x !important;
  width: 75%;
}

#magnifyingglass {
  margin: .25rem 1rem;
}

/* Tooltip container */
.tooltipinfo {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltipinfo .tooltiptextinfo {
  visibility: hidden;
  width: 350px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 15px;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 9999;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltipinfo .tooltiptextinfo::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltipinfo:hover .tooltiptextinfo {
  visibility: visible;
  opacity: 1;
}

/* Colors need to be determined by availability. Will need to set one of these up for each unit header. */
.sem1::marker {
  content: '🟡 ';
  /* content: url('../../media/examples/fire.png'); */
}

.sem2::marker {
  content: '🟢 ';
}

.sem1and2::marker {
  content: '🟠 ';
}

.not_available::marker {
  content: '🔵 ';
}

.non_standard::marker {
  content: '⭕ ';
}

.element::marker {
  content: '⚫ ';
}

.no_marker::marker {
  content: "";
}

.no_marker {
  margin-left: -32px !important;
}


li {
  margin-bottom: 7px;
}


/* //////////////////////// */

/* Step 2 CSS */
#units,
#grid {
  padding-left: 20px;
  padding-right: 20px;
}

#units-content {
  background: #F2F2F2;
  width: 400px;
  padding: 30px;
}

/* This needs to be updated to reflect the different colors of different unit availability */
#units-content ul {
  font-family: 'TTNorms';
  font-size: 14px;
}

#units-bottom {
  width: 400px;
}

#units-bottom p {
  font-family: TTNorms;
  font-size: 14px;
}


@media only screen and (max-width: 800px) {
  #units {
    padding-bottom: 20px;
    margin-left: -20px !important;
  }}

@media only screen and (max-width: 800px) {
  #gridsystem, #units, #units-progress, #units-content, #units-bottom, #grid {
    width: 100% !important;
    margin: 0px !important;
  }}

@media only screen and (max-width: 800px) {
  .units {
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 20px;
  }}

#units-progress {
  width: 400px;
}

#units-progress-grid {
  margin-left: -20px !important;
  margin-right: -20px !important;
}

#units-bottom {
  padding: 30px;
  background-color: #E7E7E7;
}

#grid {
  background: #F2F2F2;
}

#grid-content {
  padding: 30px;
}

#course-title {
  margin-top: 10px;
  font-family: TTNorms;
  letter-spacing: 0.05em;
  font-size: 16px;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  font-weight: bold;
}

#course-information > p {
  margin-bottom: 0px !important;
  line-height: 1.8em;
}

/* Grid container */
#gridcontainer {
  padding: 0px;
}

.unit-on-grid {
  background-color: #E7E7E7;
  margin: 10px;
  border: 1px solid #C9C9C9;
  text-align: center;
  padding: 20px;
  list-style: none;
}

.semester-paragraph {
  font-family: 'TTNorms';
  letter-spacing: 0.05em;
  font-size: 20px;
  margin-bottom: 0.5rem;
  padding-top: 25px;
}

.semester-paragraph:first-child {
  padding-top: 15px;
}

.semester-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
}

.target {
  background-color: #E7E7E7;
  margin: 10px;
  border: 1px solid #C9C9C9;
  text-align: center;
  padding: 20px;
  min-height: 90px;
  list-style: none;
  flex: 1; /* sets width of target container to fill width*/

}

