{% extends "base.html" %}
{% block content %}

<div class="vertical">
  <div class="progress"><div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div></div>
    <div class="step1content container">
      <p class="gainanexperiencerich" style="text-transform: uppercase;">Gain an experience rich education</p>
      <h1 class="divheading">Create Study Plan</h1>
      <p>Select your course and the semester you wish to commence your studies.</p>

      <!-- This dropdown group iterates through the variable 'degrees' (specified in routes.py). -->
      <div class="dropdowngroup">
        <div class="selectcourse dropdown">
          <button class="btn btn-secondary dropdown-toggle" id="selectcourse" type="button" data-bs-toggle="dropdown" aria-expanded="false">Select your course</button>
          <!-- Pulls data from the Title column -->
          <ul class="dropdown-menu" id="selecteddegree" aria-labelledby="selectcourse">
            <span><i id="magnifyingglass" class="fa fa-search" aria-hidden="true"></i></span><input type="text" paceholder="Search" id="courseInput" onkeyup="filterFunction()">
            {% for value in degrees %}
            <li><a class="dropdown-item" href="#">{{value}}</a></li>
            {% endfor %}
          </ul>
        </div>

        <div class="selectcourse dropdown">
          <button class="btn btn-secondary dropdown-toggle" id="selectbeginning" type="button" data-bs-toggle="dropdown" aria-expanded="false">Select your beginning year and semester</button>
          <ul class="dropdown-menu" id="selectedstart" aria-labelledby="selectbeginning"></ul><!-- Options will be appended dynamically via JS -->
        </div>
      </div>
    
      <a class="button_general" id="selectcoursebutton">Continue<span class="arrow"><i class="fa-sharp fa-solid fa-angles-right" id="buttonarrow"></i></span></a>
      <p id="warning-course" style="display: none;">Please select values in the dropdowns before pressing continue.</p>

    </div>
</div>

<div id="courseIntakePeriods" style="display: none;">{{ degrees_start }}</div>

<script>
// save intake periods to variable
var intakeperiods = document.getElementById("courseIntakePeriods").innerHTML; 

// COURSE DROPDOWN
// filter function on course dropdown
function filterFunction() {
  var input, filter, ul, li, a, i;
  input = document.getElementById("courseInput");
  filter = input.value.toUpperCase();
  div = document.getElementById("selecteddegree");
  a = div.getElementsByTagName("a");
  for (i = 0; i < a.length; i++) {
    txtValue = a[i].textContent || a[i].innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      a[i].style.display = "";
    } else {
      a[i].style.display = "none";
    }
  }
}

// click function
$("#selecteddegree a").click(function(){
  event.preventDefault(); // prevents page scroll when button clicked
  var selected_degree = $(this).text();
  document.getElementById("selectcourse").innerHTML = selected_degree; // sets the innerhtml text
})

/* Event listener - listens for changes to major dropdown (detects whenever a user changes a course) */
changed_selected_course = document.getElementById("selectcourse");
observer = new MutationObserver(function(mutationsList, observer) {detectedChange();});
observer.observe(changed_selected_course, {characterData: false, childList: true, attributes: false});

/* Function when course is changed */
function detectedChange(){
  // posts new course selection to console log
  var detected_course = document.getElementById("selectcourse").innerHTML;
  console.log(detected_course);

  // find intake period of selected course
  intakeperiodSelectedCourse = JSON.parse(intakeperiods);

  // initialise intakeOptions array
  intakeOptions = [];

  // reset dropdown between course selections
  var selectStartDropdown = document.getElementById("selectedstart");
  while (selectStartDropdown.firstChild) {
    selectStartDropdown.removeChild(selectStartDropdown.lastChild);
  }
    
  if (intakeperiodSelectedCourse[detected_course] == "Beginning of year only") {
    intakeOptions[0] = "Semester 1, 2023";
  }

  else if (intakeperiodSelectedCourse[detected_course] == "Mid-year only") {
    intakeOptions[0] = "Semester 2, 2023";
  }

  else if (intakeperiodSelectedCourse[detected_course] == "Beginning of year and mid-year") {
    intakeOptions[0] = "Semester 1, 2023";
    intakeOptions[1] = "Semester 2, 2023";
  }

  // Reset the text that is within the dropdown
  selected_start = "Select your beginning year and semester";
  document.getElementById("selectbeginning").innerHTML = selected_start;

  // loop through intakeOptions array and dynamically add intake periods
  for(var i = 0; i < intakeOptions.length; i++) {
    var option = intakeOptions[i];
    var li = document.createElement("li");
    var a = document.createElement("a");
    a.setAttribute("class", "dropdown-item");
    a.setAttribute("href", "#");
    li.appendChild(a);
    a.textContent = option;
    a.value = option;
    selectStartDropdown.appendChild(li);
  }

  // reset the border colors if they're red
  if (document.getElementById("selectcourse").style.border = 'solid 1px #fb8585e3') {document.getElementById("selectcourse").style.border = 'solid 1px #C9C9C9';}
  if (document.getElementById("selectbeginning").style.border = 'solid 1px #fb8585e3') {document.getElementById("selectbeginning").style.border = 'solid 1px #C9C9C9';}

  // Post to backend
  $("#selectedstart a").click(function(){
  event.preventDefault(); // prevents page scroll when button clicked
  var selected_start = $(this).text();
  document.getElementById("selectbeginning").innerHTML = selected_start;
  console.log(selected_start);

  // if the course selection and start semester/year is changed, it sends the change to the backend
  $.ajax({
    type: "POST",
    url: "{{ url_for('createstudyplanSelectCourse') }}",
    data: {"name": detected_course,
          "selectedStart": selected_start}
    })
  })

}

// check that values of dropdowns are valid upon click of button before allowing to continue
document.getElementById('selectcoursebutton').addEventListener("click", function() {
  coursestring = 'Select your course'
  startstring = 'Select your beginning year and semester'

  dropdowns = document.querySelectorAll('button');
  course = dropdowns[0].innerHTML
  start = dropdowns[1].innerHTML

  if (course == coursestring || start == startstring ) {
    document.getElementById("warning-course").style.display = "block";
    if (course == coursestring) {
      document.getElementById("selectcourse").style.border = 'solid 1px #fb8585e3';
    }
    if (start == startstring) {
      document.getElementById("selectbeginning").style.border = 'solid 1px #fb8585e3';
    }
  }
  else {
    document.getElementById('selectcoursebutton').setAttribute('href', " {{ url_for('createstudyplanSelectMajor') }} ");
  }
});

</script>

{% endblock %}