{% extends "base.html" %}
{% block content %}

<div class="container" style="margin-top: 40px; margin-bottom: 40px;">
  <div class="gridsystem row">
    
    <div class="units col-12 col-md-auto" id="units">
      <div class="progress" id="units-progress"><div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div></div>
        <div id="units-content">

          <h2 id="select-units-title">Select units</h2>
            <div id="unitsSelection">
              <!-- If there exists conversion units for this course, they will appear here otherwise this will be hidden. This is associated with the JS UnitLists object (see below) -->
              <p class="unit-heading" id="type1" draggable="false" style="display: none;">Type1</p>
              <div class="unit-draggables" id="type1units" style="display: none;">
                <ul id="type1unitsUL" style="display: none;"></ul>
              </div>
            </div>

        </div>
        <div id="units-bottom">Availability keys</div>
    </div>

    <div class="col-12 col-md" id="grid">
      <div class="progress" id="units-progress-grid"><div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div></div>
        <div id="grid-content">
          <div id="course-information">
            <!-- Pulled from prior selection pages -->
            <p id="course-title">{{ selectedCourse }}</p> 
            <p id="course-major">Major: {{ selectedMajor }}</p>
            <p id="administration">Administered by: {{ faculty }}</p>
            <p id="course-code">Course code: {{ coursecode }}</p> 
          </div>

          <hr style="border-top: 1px solid #C9C9C9;">

          <!--  Grid system. --> 
          <div class="container" id="gridcontainer">

            <div id="trash" ondrop="removeUnit(event)"><i class="fa fa-trash" aria-hidden="true" style="font-size: 2em; float: right;"></i></div>

            <!--  Start semester/year determined by what user selects in dropdown in previous window -->
            <p class="semester-paragraph" id="year1semester1">Semester 1, 2023</p>
            <div class="semester-row" id="row1"> <!--  Add/delete row button to add/delete. -->
              <div class="target" id="year1sem1_1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
              <div class="target" id="year1sem1_2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
              <div class="target" id="year1sem1_3" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
              <div class="target" id="year1sem1_4" ondrop="drop(event)" ondragover="allowDrop(event)"></div> 
              <div class="target" id="year1sem1_5" ondrop="drop(event)" ondragover="allowDrop(event)" style="display: none;"></div>  <!-- if overloading, unhide -->
             <!--Font awesome icon that will able to add new unit in the selector- Ancy-->
              <i class="fa fa-plus-circle icon" aria-hidden="true" id = 'add_unit_sem1' onclick="addSem11OverLoad()" ></i>
             <!-- <button id = 'add_unit_sem1' onclick="addSem11OverLoad()">Click Me</button> -->
            </div>

            <p class="semester-paragraph" id="year1semester2">Semester 2, 2023</p>
            <div class="semester-row" id="row2">
              <div class="target" id="year1sem2_1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
              <div class="target" id="year1sem2_2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
              <div class="target" id="year1sem2_3" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
              <div class="target" id="year1sem2_4" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
              <div class="target" id="year1sem2_5" ondrop="drop(event)" ondragover="allowDrop(event)" style="display: none;"></div>  <!-- if overloading, unhide -->
               <!--Font awesome icon that will able to add new unit in the selector- Ancy-->
              <i class="fa fa-plus-circle icon" aria-hidden="true" id = 'add_unit_sem2' onclick="addSem12OverLoad()" ></i>
            </div>

            <p class="semester-paragraph" id="year2semester1">Semester 1, 2024</p>
            <div class="semester-row" id="row3">
              <div class="target" id="year1sem2_1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
              <div class="target" id="year1sem2_2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
              <div class="target" id="year1sem2_3" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
              <div class="target" id="year1sem2_4" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
              <div class="target" id="year2sem1_5" ondrop="drop(event)" ondragover="allowDrop(event)" style="display: none;" ></div>  <!-- if overloading, unhide -->
               <!--Font awesome icon that will able to add new unit in the selector- Ancy-->
              <i class="fa fa-plus-circle icon" aria-hidden="true" id = 'add_unit_sem3' onclick="addSem21OverLoad()" ></i>

            </div>

            <p class="semester-paragraph" id="year2semester2">Semester 2, 2024</p>
            <div class="semester-row" id="row4">
              <div class="target" id="year1sem2_1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
              <div class="target" id="year1sem2_2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
              <div class="target" id="year1sem2_3" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
              <div class="target" id="year1sem2_4" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
              <div class="target" id="year2sem2_5" ondrop="drop(event)" ondragover="allowDrop(event)" style="display: none;" ></div>  <!-- if overloading, unhide -->
               <!--Font awesome icon that will able to add new unit in the selector- Ancy-->
              <i class="fa fa-plus-circle icon" aria-hidden="true" id = 'add_unit_sem4' onclick="addSem22OverLoad()" ></i>
            </div>

          </div>
      </div>
      
      <button type="button" class="btn btn-warning" style="margin-left: 30px; margin-bottom: 60px;" onClick="CreatePDFfromHTML()">Download</button>

    </div>

  </div>
</div>



<!-- Units variable from back end -->
<div id="unitList" style="display: none;">{{ units }}</div>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!--Script to support PDF conversion-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script> 
<script type="text/javascript" src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>



<script>
// Remove major information from frontend if doesn't contain anything valuable
if (document.getElementById("course-major").innerHTML == "Major: No major or specification available"){
  document.getElementById("course-major").style.display = "none";
}

// Process units variable from backend in JS
var units = document.getElementById("unitList").innerHTML;
var units = units.slice(1, -19); // slice off back of string and do some further processing below
var units = units.replace(/'/g, '');
var units = units.replace(/"/g, '');

//var unitsArray = units
var unitsArray = units.split(", NEXT_UNIT_ROLE, ") // Split into array when this test occurs

window.addEventListener('DOMContentLoaded', (event) => {
  unitsArray.forEach(element => {
    unitRole = element.split(", ***, "); // This split stirng is decided in routes.py
    unitRole = unitRole.map(elem => elem.replace(", ***", "")); // if there would be any erronous split symbols (&amp;*:,) that have come across despite the split, clean those up

    unitlists = {} // Dictionary for unit roles and units

    var unitRoleUnits = unitRole[2] // take index 2 are the units that belong to the unit role.
    if (unitRole[2] == null) { // test if the units belonging to this unit role is empty, in which case, don't display the role, replace with text below
    unitRoleUnits = "No information to be displayed. Check with faculty.";
    }
    unitlists[unitRole[0]] = unitRoleUnits; // place in unitlists dictionary: key is index 0 (unit code) and value is index 2 (units belonging to this unit role) from unitRole list

    // Extract information about unit roles
    var unitInfo = unitRole[1] 

    // Process key-value pairs in unitlists dictionary
    for (const [key, value] of Object.entries(unitlists)) {
      const unitRoleHeader = document.createElement("p"); // create unit headers for each unit role
      const keyNode = document.createTextNode(key + " ");
      unitRoleHeader.appendChild(keyNode);
      unitRoleHeader.setAttribute("class", "unit-heading");
      const heading = document.getElementById("unitsSelection");
      heading.appendChild(unitRoleHeader);
      const unitRoleUl = document.createElement("ul"); // create and append unit-draggables div to each unit role
      heading.appendChild(unitRoleUl);
      unitRoleUl.setAttribute("class", "unit-ul");
      
      // appends tooltip icon to header
      const infoDiv = document.createElement("div");
      unitRoleHeader.appendChild(infoDiv);
      infoDiv.setAttribute('class', 'tooltipinfo');
      infoDiv.insertAdjacentHTML("afterbegin", '<i class="fa-solid fa-circle-info"></i>');

      // appends unit info to tooltip icon
      const infotext = document.createElement("span");
      infotext.setAttribute('class', 'tooltiptextinfo');
      infoDiv.appendChild(infotext);
      infotext.insertAdjacentHTML("afterbegin", unitInfo);

      // The below splits each unit role list and dynamically creates li's under the correct heading (key)
      var unitArr = (`${value}`).split(','); // split conversion units into list (split by comma)
      var unitArrLength = unitArr.length // grab length of each unit role list
      for (i = 0; i < unitArrLength; i++) {
        var lielement = document.createElement("li"); // create list item
        lielement.appendChild(document.createTextNode(unitArr[i])); // create and append content of list item
        lielement.setAttribute("id", unitArr[i]); // set ID of new list item to 'Unit Code Unit Name'
        lielement.setAttribute("class", "element"); // set class of new list item to 'element'
        lielement.setAttribute("draggable", "true"); // set draggable of new list item to 'true'
        lielement.setAttribute("ondragstart", "drag(event)");// set ondragstart event of new list item to 'drag(event)'
        unitRoleUl.appendChild(lielement);
      }
    }

  });
});

// /* Event listener - listens for changes to units content div */
// detect_units_changing = document.getElementById("conversionUL");
// observer = new MutationObserver(function(mutationsList, observer) {detectedChange();});
// observer.observe(detect_units_changing, {characterData: false, childList: true, attributes: false});

// /* Function when course is changed */
// function detectedChange(){
//   // posts new course selection to console log
//   detected_course = document.getElementById("course-title").innerHTML;
//   console.log(detected_course);
// }

// Dragstart - save initial position somehow?
document.addEventListener('dragstart',function(e){
    if(e.target && e.target.classList == 'element'){
      console.log("dragging")
      id = event.target.id;
     }
     
 });


// Click event - Add modal on click?
document.addEventListener('click',function(e){
    if(e.target && e.target.classList == 'element'){
      id = event.target.id;
      alert("You've clicked on " + id); 
     }
 });

// Grid system

let offset = [0, 0]

function allowDrop(ev) {
  var t = ev.target;
  while (t !== null && !t.classList.contains("target")) {
    t = t.parentNode;
  }
  if (t && t.childNodes.length > 0) {
    return false;
  }
  ev.preventDefault()
}

function drag(ev) {
  ev.dataTransfer.setData('dragID', ev.target.id)
  offset = [
    ev.target.offsetLeft - ev.clientX,
    ev.target.offsetTop - ev.clientY
  ]
}

function drop(ev) {
  ev.preventDefault();
  const data = ev.dataTransfer.getData('dragID');
  ev.target.appendChild(document.getElementById(data));
}

// Removing units from grid

// Click event - removes unit upon click. Have to change this to something else
// e.g., at drop on bin icon, element is removed
// alternative 1. if event id is removed, append clone to initial list?
// document.addEventListener('click',function(e){
//   if(e.target && e.target.classList == 'element'){
//     event.target.parentNode.removeChild(event.target);
//    }
//  });

// Resets all dragover activities - needed for trash to work, however, disables the constraint on only one unit per div. Find other way of dealing with trash? /C
// document.addEventListener("dragover", function(event) {
//   event.preventDefault();
// });

removedUnits = []
function removeUnit(ev){
  const data = ev.dataTransfer.getData('dragID');
  removedUnits.push(document.getElementById(data)); // Removed unit data saved to removedUnits
  document.getElementById(data).style.display = "none"; // Change style of element to none upon removal
  console.log(removedUnits)
}


// function for downloading a pdf (whole page)
// code based on the second answer from this page: https://stackoverflow.com/questions/17293135/download-a-div-in-a-html-page-as-pdf-using-javascript

function CreatePDFfromHTML() {
    var div_Width = $("#grid-content").width();
    var div_Height = $("#grid-content").height();
    var top_left_margin = 15;
    var PDF_Width = div_Width + (top_left_margin * 2);
    var PDF_Height = (PDF_Width * 1.5) + (top_left_margin * 2);
    var canvas_image_width = div_Width;
    var canvas_image_height = div_Height;

    var totalPDFPages = Math.ceil(div_Height / PDF_Height) - 1;

    html2canvas($("#grid-content")[0]).then(function (canvas) {
        var imgData = canvas.toDataURL("image/jpeg", 1.0);
        var pdf = new jsPDF('p', 'pt', [PDF_Width, PDF_Height]);
        pdf.addImage(imgData, 'JPG', top_left_margin, top_left_margin, canvas_image_width, canvas_image_height);
        for (var i = 1; i <= totalPDFPages; i++) { 
            pdf.addPage(PDF_Width, PDF_Height);
            pdf.addImage(imgData, 'JPG', top_left_margin, -(PDF_Height*i)+(top_left_margin*4),canvas_image_width,canvas_image_height);
        }
        pdf.save("study-plan.pdf");
    });
}

//Function for overloading - Ancy
// This add one more grid to each semester if the user wants to do 5 units in a semester
function addSem11OverLoad() {
  var add_unit_sem1 = document.getElementById("add_unit_sem1");
  var year1sem1_5 = document.getElementById("year1sem1_5");
  //checking if the fifth unit is already selected
  if (year1sem1_5.style.display === "none") {
    $(this).find('i').toggleClass('fa-minus-circle fa-plus-circle');
    year1sem1_5.style.display = "block";
  } else {
    year1sem1_5.style.display = "none";
  }
  
}
function addSem12OverLoad() {
  var add_unit_sem2 = document.getElementById("add_unit_sem2");
  var year1sem2_5 = document.getElementById("year1sem2_5");
  if (year1sem2_5.style.display === "none") {
    $(this).find('i').toggleClass('fa-minus-circle fa-plus-circle');
    year1sem2_5.style.display = "block";
  } else {
    year1sem2_5.style.display = "none";
  }
  
  
}
function addSem21OverLoad() {
  var add_unit_sem3 = document.getElementById("add_unit_sem3");
  var year2sem1_5 = document.getElementById("year2sem1_5");
  if (year2sem1_5.style.display === "none") {
    $(this).find('i').toggleClass('fa-minus-circle fa-plus-circle');
    year2sem1_5.style.display = "block";
  } else {  
    year2sem1_5.style.display = "none";
  }
  
}
function addSem22OverLoad() {
  var add_unit_sem4 = document.getElementById("add_unit_sem4");
  var year2sem2_5 = document.getElementById("year2sem2_5");
  if (year2sem2_5.style.display === "none") {
    $(this).find('i').toggleClass('fa-minus-circle fa-plus-circle');
    year2sem2_5.style.display = "block";
  } else { 
    year2sem2_5.style.display = "none";
  }
}


</script>


{% endblock %}