{% extends "base.html" %}
{% block content %}

<div class="container" style="margin-top: 40px; margin-bottom: 40px;">
  <div class="gridsystem row">
    
    <div class="units col-12 col-md-auto" id="units">
      <div class="progress" id="units-progress"><div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div></div>
        <div id="units-content">

          <h2 id="select-units-title">Select units</h2>
            <div id="unitsSelection">
              <p class="unit-heading" id="type1" draggable="false" style="display: none;">Type</p>
              <div class="unit-draggables" id="type1units" style="display: none;">
                <ul id="type1unitsUL" style="display: none;"></ul>
              </div>
            </div>

        </div>
        <div id="units-bottom">
          <div id="keys">
            <h4 style="font-size: 1rem;">Availability keys</h4>
            <p><img alt="Semester 1" height="12px" width="12" src="{{ url_for('static', filename = 'pictures/bullets/lightorange.png') }}"> Only run in Semester 1</p>
            <p><img alt="Semester 2" height="12px" width="12" src="{{ url_for('static', filename = 'pictures/bullets/green.png') }}"> Only run in Semester 2</p>
            <p><img alt="Semester 1 and 2" height="12px" width="12" src="{{ url_for('static', filename = 'pictures/bullets/pink.png') }}"> Runs in Semester 1 and 2</p>
            <p><img alt="Not available" height="12px" width="12" src="{{ url_for('static', filename = 'pictures/bullets/darkorange.png') }}"> Not available</p>
            <p><img alt="Non-standard" height="12px" width="12" src="{{ url_for('static', filename = 'pictures/bullets/lightblue.png') }}"> Non-standard</p>
            <p><img alt="darkorange" height="12px" width="12" src="{{ url_for('static', filename = 'pictures/bullets/black.png') }}"> No information</p>
          </div>
          <!-- the info icon that show the general-info modal below -Valerie -->
          <div id="info-icon"> 
            <!-- the icon listens to a click function to show the modal -->
            <i class="fa-solid fa-circle-info" onclick="openModal()" id="myModal"></i>
          </div>

          <!-- General info modal that can triggered by clicking the large info icon at the bottom of availability key lists -Valerie -->
          <div class="modal-container">
            <div class="modal" id="my-modal">
              <div class="modal-content">
                <div class="modal-header">
                  <!-- the icon listens to a click action to close the modal-->
                  <i class="fa-solid fa-rectangle-xmark" id="close-info" onclick="closeModal()"></i>
                </div>
                <div class="modal-body">
                  <h3>GENERAL INFORMATION</h3>
                  <H5>Core units</H5>
                  <p>Core units are the compulsory units in your chosen course. In the Study Planner tool, you must allocate these units before allocating optional units.</p>
                  <hr style="border-top: 3px solid #505050; margin: 20px 0px; width: 60%;">
                  <h3>BACHELOR'S DEGREE'S</h3>
                  <p>UWA's three-year undergraduate courses each comprise 24 units. The units you study must include:
                    <ul class="general">
                      <li>a degree-specific major; and</li>
                      <li>at least four units which satisfy the broadening requirements of your course.</li>
                    </ul>
                  </p>
                  <p>There are some limits you need to be aware of:
                    <ul class="general">
                      <li>you cannot include more than 12 units at Level 1; and</li>
                      <li>you must pass at least 3 units at Level 3.</li>
                    </ul>
                  </p>
                  <H5>Broadening units</H5>
                  <p>All students towards a Bachelor's Degree at UWA are required to broaden their studies by completing a minimum of four units (24 points) of study outside their degree specific major.</p>
                  <H5>Bridging units</H5>
                  <p>Bridging units are designed for students who have not met the relevant ATAR level (or equivalent qualification) required as prerequisites for their major. Bridging units must be successfully completed within the first 48 points of study.</p>
                  <hr style="border-top: 3px solid #505050; margin: 20px 0px; width: 60%;">
                  <h3>MASTER'S DEGREE'S</h3>
                  <h5>Conversion units</h5>
                  <p>For some courses, there may be special conditions on admission. Students who have completed degree studies in a non-cognate area or equivalenet (as recognised by the University), must complete relevant conversion units. This is determined upon offer of admission and by the scope of a students's prior study.</p>
                </div>
              </div>
            </div>
          </div>

        </div>
    </div>

    <div class="col-12 col-md" id="grid">
      <div class="progress" id="units-progress-grid"><div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div></div>
        <div id="grid-content">
          <div id="course-information">
            <!-- Pulled from prior selection pages -->
            <p id="course-title">{{ selectedCourse }}</p> 
            <p id="course-major">{{ selectedMajor }}</p>
            <p id="administration">Faculty: {{ faculty }}</p>
            <p id="course-code">Course code: {{ coursecode }}</p> 
          </div>

          <hr style="border-top: 1px solid #505050;">

          <!--  Grid system. --> 
          <div class="container" id="gridcontainer">

            <!--  Start semester/year determined by what user selects in dropdown in previous window -->
            {% if SP_dict['Y1S1_5']|length <1 %}
            <p class="semester-paragraph" id="year1semester1" style="float:left;">Semester {{ startSem }}, {{ startYear }}</p> 
            <button style="float:right;" onclick="addSem11OverLoad(this);" class="btn-ol" id="show_hide_bt1" data-html2canvas-ignore="true"><i class="fa fa-plus-circle"></i> Add overload </button>
          {% else %}
            <p class="semester-paragraph" id="year1semester1" style="float:left;">Semester {{ startSem }}, {{ startYear }}</p> <button style="float:right;" onclick="addSem11OverLoad(this);" class="btn-ol" id="show_hide_bt1" data-html2canvas-ignore="true"><i class="fa fa-minus-circle"></i> Remove overload </button>
          {% endif %}
          <div class="semester-row" id="row1"> <!--  Add/delete row button to add/delete. -->
            <div class="target" id="year1sem1_1" ondrop="drop(event)">{{ SP_dict['Y1S1_1'] }}</div>
            <div class="target" id="year1sem1_2" ondrop="drop(event)">{{ SP_dict['Y1S1_2'] }}</div>
            <div class="target" id="year1sem1_3" ondrop="drop(event)">{{ SP_dict['Y1S1_3'] }}</div>
            <div class="target" id="year1sem1_4" ondrop="drop(event)">{{ SP_dict['Y1S1_4'] }}</div> 
            {% if SP_dict['Y1S1_5']|length <1 %}
              <div class="target" id="year1sem1_5" ondrop="drop(event)" style="display: none;"></div>  <!-- if overloading, unhide -->
            {% else %}
              <div class="target" id="year1sem1_5" ondrop="drop(event)" style="display: block;">{{ SP_dict['Y1S1_5'] }}</div>  <!-- if overloading, unhide -->
            {% endif %}
          </div>

            {% if SP_dict['Y1S2_5']|length <1 %}
              <p class="semester-paragraph" id="year1semester2" style="float:left;">Semester 
                {% if startSem == 1 %} 
                  2, {{ startYear }}
                {% else %} 
                  1, {{ startYear + 1 }}
                {% endif %}
              </p> <button style="float:right;" onclick="addSem12OverLoad(this);" class="btn-ol" id="show_hide_bt2" data-html2canvas-ignore="true"><i class="fa fa-plus-circle"></i> Add overload </button>
            {% else %}
              <p class="semester-paragraph" id="year1semester2" style="float:left;">Semester 
                {% if startSem == 1 %} 
                  2, {{ startYear }}
                {% else %} 
                  1, {{ startYear + 1 }}
                {% endif %}
              </p> <button style="float:right;" onclick="addSem12OverLoad(this);" class="btn-ol" id="show_hide_bt2" data-html2canvas-ignore="true"><i class="fa fa-minus-circle"></i> Remove overload </button>
            {% endif %}
            <div class="semester-row" id="row2">
              <div class="target" id="year1sem2_1" ondrop="drop(event)">{{ SP_dict['Y1S2_1'] }}</div>
              <div class="target" id="year1sem2_2" ondrop="drop(event)">{{ SP_dict['Y1S2_2'] }}</div>
              <div class="target" id="year1sem2_3" ondrop="drop(event)">{{ SP_dict['Y1S2_3'] }}</div>
              <div class="target" id="year1sem2_4" ondrop="drop(event)">{{ SP_dict['Y1S2_4'] }}</div>
              {% if SP_dict['Y1S2_5']|length <1 %}
                <div class="target" id="year1sem2_5" ondrop="drop(event)" style="display: none;"></div>  <!-- if overloading, unhide -->
              {% else %}
                <div class="target" id="year1sem2_5" ondrop="drop(event)" style="display: block;">{{ SP_dict['Y1S2_5'] }}</div>  <!-- if overloading, unhide -->
              {% endif %}
            </div>

            {% if SP_dict['Y2S1_5']|length <1 %}
              <p class="semester-paragraph" id="year2semester1" style="float:left;">Semester 
                {% if startSem == 1 %} 
                  1, {{ startYear + 1 }}
                {% else %} 
                  2, {{ startYear + 1 }}
                {% endif %}
              </p> <button style="float:right;" onclick="addSem21OverLoad(this);" class="btn-ol" id="show_hide_bt3" data-html2canvas-ignore="true"><i class="fa fa-plus-circle"></i> Add overload </button>
            {% else %}
              <p class="semester-paragraph" id="year2semester1" style="float:left;">Semester 
                {% if startSem == 1 %} 
                  1, {{ startYear + 1 }}
                {% else %} 
                  2, {{ startYear + 1 }}
                {% endif %}
              </p> <button style="float:right;" onclick="addSem21OverLoad(this);" class="btn-ol" id="show_hide_bt3" data-html2canvas-ignore="true"><i class="fa fa-minus-circle"></i> Remove overload </button>
            {% endif %}

            <div class="semester-row" id="row3">
              <div class="target" id="year2sem1_1" ondrop="drop(event)">{{ SP_dict['Y2S1_1'] }}</div>
              <div class="target" id="year2sem1_2" ondrop="drop(event)">{{ SP_dict['Y2S1_2'] }}</div>
              <div class="target" id="year2sem1_3" ondrop="drop(event)">{{ SP_dict['Y2S1_3'] }}</div>
              <div class="target" id="year2sem1_4" ondrop="drop(event)">{{ SP_dict['Y2S1_4'] }}</div>
              {% if SP_dict['Y1S2_5']|length <1 %}
                <div class="target" id="year2sem1_5" ondrop="drop(event)" style="display: none;"></div>  <!-- if overloading, unhide -->
              {% else %}
                <div class="target" id="year2sem1_5" ondrop="drop(event)" style="display: block;">{{ SP_dict['Y2S1_5'] }}</div>  <!-- if overloading, unhide -->
              {% endif %}
            </div>

            {% if SP_dict['Y2S2_5']|length <1 %}
              <p class="semester-paragraph" id="year2semester2" style="float:left;">Semester 
                {% if startSem == 1 %} 
                  2, {{ startYear + 1 }}
                {% else %} 
                  1, {{ startYear + 2 }}
                {% endif %}
              </p> <button style="float:right;" onclick="addSem22OverLoad(this);" class="btn-ol" id="show_hide_bt4" data-html2canvas-ignore="true"><i class="fa fa-plus-circle"></i> Add overload </button>            
            {% else %}
              <p class="semester-paragraph" id="year2semester2" style="float:left;">Semester 
                {% if startSem == 1 %} 
                  2, {{ startYear + 1 }}
                {% else %} 
                  1, {{ startYear + 2 }}
                {% endif %}
              </p> <button style="float:right;" onclick="addSem22OverLoad(this);" class="btn-ol" id="show_hide_bt4" data-html2canvas-ignore="true"><i class="fa fa-minus-circle"></i> Remove overload </button>
            {% endif %}
            <div class="semester-row" id="row4">
              <div class="target" id="year2sem2_1" ondrop="drop(event)">{{ SP_dict['Y2S2_1'] }}</div>
              <div class="target" id="year2sem2_2" ondrop="drop(event)">{{ SP_dict['Y2S2_2'] }}</div>
              <div class="target" id="year2sem2_3" ondrop="drop(event)">{{ SP_dict['Y2S2_3'] }}</div>
              <div class="target" id="year2sem2_4" ondrop="drop(event)">{{ SP_dict['Y2S2_4'] }}</div>
              {% if SP_dict['Y1S2_5']|length <1 %}
                <div class="target" id="year2sem2_5" ondrop="drop(event)" style="display: none;"></div>  <!-- if overloading, unhide -->
              {% else %}
                <div class="target" id="year2sem2_5" ondrop="drop(event)" style="display: block;">{{ SP_dict['Y2S2_5'] }}</div>  <!-- if overloading, unhide -->
              {% endif %}
            </div>
          </div>
      </div>
      
      <a onClick="CreatePDFfromHTML()" class="button_general" id="selectmajorbutton">Download<span class="arrow"><i class="fa-sharp fa-solid fa-angles-down"></i></span></a>
      <a id="reset" style="float:right;" class="button_general">Reset<span class="close"><i class="fa-solid fa-circle-xmark"></i></span></a>
      {% if loggedin %}
      <a onClick="SaveSP()" class ="button_general" id="selectmajorbutton">Save<span class="arrow"><i class="fa-sharp fa-solid fa-angles-right"></i></span></a>
      {% else %}
      <a onClick="SaveSP()" class ="button_general" style="display:none;"  id="selectmajorbutton">Save<span class="arrow"><i class="fa-sharp fa-solid fa-angles-right"></i></span></a>
      {% endif %}
      <br><br>
    </div>

  </div>
</div>

<div id="warning" style="display:none;">
  <div id="warningbox">
    <p id="alertinfo"></p>
    <i class="fa-solid fa-rectangle-xmark" style="display:inline;" onclick="closeWarningModal()"></i>
  </div>
</div>

<div class="modal-container">
  <div class="modal" id="unit-modal">
    <div class="modal-content">
      <div class="modal-header">
        <i class="fa-solid fa-rectangle-xmark" id="close-info" onclick="closeUnitModal()"></i>
      </div>
      <div class="modal-body">
        <h3 id="title"></h3>
        <p class="creditpoints">Credit points: <span id="creditpoints"></span></p>
        <div id="nonstandardteachingperioddiv"><div><i class="fa-solid fa-circle-info"  style="font-size: 25px; margin-right: 15px; float: left;"></i><p id="nonstandardteachingperiod"></p></div></div>
        <div id="notavailablediv"><div><i class="fa-solid fa-circle-info" style="font-size: 25px; margin-right: 15px;"></i><p id="notavailabledivtext"></p></div></div>
        <hr style="border-top: 3px solid #505050; margin: 20px 0px; width: 60%;">
        <h3>Decription</h3>
        <p id="description"></p>
        <h3>Outcomes</h3>
        <p id="outcomes"></p>
        <h3>Unit rules</h3>
        <p class="unitrules"><span class="unitsrulesheader">Prerequisites:</span> <span id="prereqs"></span></p>
        <p class="unitrules"><span class="unitsrulesheader">Co-requisites:</span> <span id="coreqs"></span></p> 
        <p class="unitrules"><span class="unitsrulesheader">Incompatibilities</span> <span id="incomp"></span></p>
      </div>
    </div>
  </div>
</div>

<!--Save button function-->
<script>
  var year1sem1_1 = document.getElementById("year1sem1_1").innerHTML;
  var year1sem1_2 = document.getElementById("year1sem1_2").innerHTML;
  var year1sem1_3 = document.getElementById("year1sem1_3").innerHTML;
  var year1sem1_4 = document.getElementById("year1sem1_4").innerHTML;
  var year1sem1_5 = document.getElementById("year1sem1_5").innerHTML;
  var year1sem2_1 = document.getElementById("year1sem2_1").innerHTML;
  var year1sem2_2 = document.getElementById("year1sem2_2").innerHTML;
  var year1sem2_3 = document.getElementById("year1sem2_3").innerHTML;
  var year1sem2_4 = document.getElementById("year1sem2_4").innerHTML;
  var year1sem2_5 = document.getElementById("year1sem2_5").innerHTML;
  var year2sem1_1 = document.getElementById("year2sem1_1").innerHTML;
  var year2sem1_2 = document.getElementById("year2sem1_2").innerHTML;
  var year2sem1_3 = document.getElementById("year2sem1_3").innerHTML;
  var year2sem1_4 = document.getElementById("year2sem1_4").innerHTML;
  var year2sem1_5 = document.getElementById("year2sem1_5").innerHTML;
  var year2sem2_1 = document.getElementById("year2sem2_1").innerHTML;
  var year2sem2_2 = document.getElementById("year2sem2_2").innerHTML;
  var year2sem2_3 = document.getElementById("year2sem2_3").innerHTML;
  var year2sem2_4 = document.getElementById("year2sem2_4").innerHTML;
  var year2sem2_5 = document.getElementById("year2sem2_5").innerHTML;

  function SaveSP(){
    // if button pressed, it sends all the Study Plan values to the backend.
    $.ajax({
      type: "POST",
      url: "{{ url_for('createstudyplanSelectUnits') }}",
      data: {
        "year1sem1_1":year1sem1_1,
        "year1sem1_2":year1sem1_2,
        "year1sem1_3":year1sem1_3,
        "year1sem1_4":year1sem1_4,
        "year1sem1_5":year1sem1_5,
        "year1sem2_1":year1sem2_1,
        "year1sem2_2":year1sem2_2,
        "year1sem2_3":year1sem2_3,
        "year1sem2_4":year1sem2_4,
        "year1sem2_5":year1sem2_5,
        "year2sem1_1":year2sem1_1,
        "year2sem1_2":year2sem1_2,
        "year2sem1_3":year2sem1_3,
        "year2sem1_4":year2sem1_4,
        "year2sem1_5":year2sem1_5,
        "year2sem2_1":year2sem2_1,
        "year2sem2_2":year2sem2_2,
        "year2sem2_3":year2sem2_3,
        "year2sem2_4":year2sem2_4,
        "year2sem2_5":year2sem2_5,
      },
      success: function( data ) {response=data;},
      error: function(xhr, status, error) {response = status;}
    })
  }

</script>

<!-- Units variable from back end -->
<div id="unitList" style="display: none;">{{ units }}</div>
<div id="unitCodeList" style="display: none;">{{ availability }}</div>

<div id="prereq" style="display: none;">{{ prereq }}</div>
<div id="corereq" style="display: none;">{{ corereq }}</div>
<div id="incompatibilities" style="display: none;">{{ incomp }}</div>
<div id="unitoutcomes" style="display: none;">{{ outcomes }}</div>
<div id="content" style="display: none;">{{ content }}</div>
<div id="structurecredits" style="display: none;">{{ credits }}</div>
<div id="availabilityofunits" style="display: none;">{{ availabilitydict }}</div>
<div id="loadedUnits" style="display: none;">{{ SP_dict }}</div>

<!--Script to support PDF conversion-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script> 
<script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>

<script>
var prereq = document.getElementById("prereq").innerHTML;
var corereq = document.getElementById("corereq").innerHTML;
var incompatibilities = document.getElementById("incompatibilities").innerHTML;
var unitoutcomes = document.getElementById("unitoutcomes").innerHTML;
var content = document.getElementById("content").innerHTML;
var creditpoints = document.getElementById("structurecredits").innerHTML;
var availabilityofunits = document.getElementById("availabilityofunits").innerHTML;

content = JSON.parse(content);
unitoutcomes = JSON.parse(unitoutcomes);
prereq = JSON.parse(prereq);
corereq = JSON.parse(corereq);
incompatibilities = JSON.parse(incompatibilities);
creditpoints = JSON.parse(creditpoints);
availabilityofunits = JSON.parse(availabilityofunits);

var unitsTaken = []; //This array tracks how many units are in the study plan grid from each group.	
var unitlists1= {}; //Global units list.

// Remove major information from frontend if doesn't contain anything valuable
if (document.getElementById("course-major").innerHTML == "No major or specialisation available"){
  document.getElementById("course-major").style.display = "none";
}

// Process units variable from backend in JS
var units = document.getElementById("unitList").innerHTML;
var units = units.slice(1, -23); // slice off back of string and do some further processing below
var units = units.replace(/'/g, '');
var units = units.replace(/"/g, '');
var unitsArray = units.split(", NEXT_UNIT_ROLE, ") // Split into array when this test occurs

// Process unitInformation variable to retrieve availability
var unitInformation = document.getElementById("unitCodeList").innerHTML;
var unitInformation = unitInformation.slice(1, -2); // slice off back of string and do some further processing below
var unitInformation = unitInformation.replace(/'/g, '');
var unitInformation = unitInformation.replace(/"/g, '');
unitInformation = unitInformation.split('***')
unitInformation = unitInformation.map(elem => elem.replace(", ", "")); 
unitInformation = unitInformation.map(elem => elem.replace(": ", "")); 

window.addEventListener('DOMContentLoaded', (event) => {
  //Creates array to check for loaded units and omit them from select units sidebar.
  var loadedUnits = document.getElementById("loadedUnits").innerHTML;
  loadedUnits = loadedUnits.split(",");
  var loadedArray = [];
  var unit = '';
  //Loop through to process the string and remove unneccessary characters before adding them to the array.
  for(i = 0; i < loadedUnits.length; i++) {
    if(i==0){
      unit=loadedUnits[i].slice(1);
      unit=unit.split(":");
      unit=unit[1].slice(2);
      unit=unit.slice(0,-1);
      unit=unit.trim();
      loadedArray.push(unit);
    }
    if(i==loadedUnits.length-1){
      unit=loadedUnits[i].split(":");
      unit=unit[1].slice(2);
      unit=unit[1].slice(0,-2);
      unit=unit.trim();
      loadedArray.push(unit);
    }
    else{
      unit=loadedUnits[i].split(":");
      unit=unit[1].slice(2);
      unit=unit.slice(0,-1);
      unit=unit.trim();
      loadedArray.push(unit);
    }
  }

  //index for unitsTaken array
  var x=0

  unitsArray.forEach(element => {
    unitRole = element.split(", ***, "); // This split stirng is decided in routes.py
    unitRole = unitRole.map(elem => elem.replace(", ***", "")); // if there would be any erronous split symbols (&amp;*:,) that have come across despite the split, clean those up

    unitlists = {} // Dictionary for unit roles and units

    var unitRoleUnits = unitRole[2] // take index 2 are the units that belong to the unit role.
    if (unitRole[2] == null) { // test if the units belonging to this unit role is empty, in which case, don't display the role, replace with text below
    unitRoleUnits = "No information to be displayed. Check with faculty.";
    }
    unitlists[unitRole[0]] = unitRoleUnits; // place in unitlists dictionary: key is index 0 (unit code) and value is index 2 (units belonging to this unit role) from unitRole list
    unitlists1[unitRole[0]] = unitRoleUnits; // place in global unitlists1 dictionary.

    // Extract information about unit roles
    var unitInfo = unitRole[1] 

    //Extracts the points needed for the unit group.
    var groupPoints = unitInfo.replace(/[^0-9.]/g, ''); //removes all non-numeric characters.	
    groupPoints = groupPoints.slice(0,2); 	
    unitsTaken[x]= ['M1', 0, parseInt(groupPoints)];	
    groupPoints = '<span id=group'+ x +'> ' + unitsTaken[x][1] + '/' + unitsTaken[x][2] + '  </span>';

    // Process key-value pairs in unitlists dictionary
    for (const [key, value] of Object.entries(unitlists)) {
      const unitRoleHeader = document.createElement("p"); // create unit headers for each unit role
      const keyNode = document.createTextNode(key + " ");
      unitRoleHeader.appendChild(keyNode);
      unitRoleHeader.setAttribute("class", "unit-heading");
      const heading = document.getElementById("unitsSelection");
      heading.appendChild(unitRoleHeader);
      const unitRoleUl = document.createElement("ul"); // create and append unit-draggables div to each unit role
      heading.appendChild(unitRoleUl);
      unitRoleUl.setAttribute("class", 'unit-ul');
      var ulClass = "unit-ul " + key + " " + $('.unit-ul').length // create string for class of unit-ul's. the unit-ul length variable adds the index of each ul
      unitRoleUl.setAttribute("id", ulClass);
      
      // appends tooltip icon to header
      const infoDiv = document.createElement("div");
      unitRoleHeader.appendChild(infoDiv);
      infoDiv.setAttribute('class', 'tooltipinfo');
      infoDiv.insertAdjacentHTML("afterbegin", '<i class="fa-solid fa-circle-info"></i>');
      


      // appends unit info to tooltip icon
      const infotext = document.createElement("span");
      infotext.setAttribute('class', 'tooltiptextinfo');
      infoDiv.appendChild(infotext);
      infotext.insertAdjacentHTML("afterbegin", unitInfo);

      // The below splits each unit role list and dynamically creates li's under the correct heading (key)
      var unitArr = (`${value}`).split('***, '); // split conversion units into list (split by comma)
      unitArr = unitArr.map(elem => elem.replace("***", "")); 

      var unitArrLength = unitArr.length // grab length of each unit role list
      for (i = 0; i < unitArrLength; i++) {
        //TODO: For each element not in unitArr, add point value to unitsTaken[x][1] Then reassign innerhtml after loop finishes.
        if(loadedArray.includes(unitArr[i].trim())){
          var unitCredits=creditpoints[unitArr[i].trim()];
          var currentCredits=parseInt(unitsTaken[x][1]) + parseInt(unitCredits);
          unitsTaken[x][1]=currentCredits;          
          groupPoints='<span id=group'+ x +'> ' + unitsTaken[x][1] + '/' + unitsTaken[x][2] + '  </span>';
        }
        else{
          var lielement = document.createElement("li"); // create list item
          lielement.appendChild(document.createTextNode(unitArr[i].trim())); // create and append content of list item (i.e., unit)
          lielement.setAttribute("id", unitArr[i].trim()); // set ID of new list item to 'Unit Code Unit Name'
          lielement.setAttribute("tag", ulClass); // set tag of each list item to their original ul element
          if (unitArr[i].trim() == "No information to be displayed. Check with faculty.") {
            unitRoleUl.appendChild(lielement);
            lielement.setAttribute("class", "no_marker");
          }
          else {
            lielement.setAttribute("draggable", "true"); // set draggable of new list item to 'true'
            lielement.setAttribute("ondragstart", "drag(event)");// set ondragstart event of new list item to 'drag(event)'

            // Find availability of units and attach the class (sem1, sem2 or sem1and2, to each li element)
            var availabilityinfo = unitInformation.indexOf(unitArr[i].trim())
            if (availabilityinfo != -1) { // if unit was found in unitInformation array, i.e., does not return -1
              availability = unitInformation[availabilityinfo+1]

              if (availability.includes("Not available 2022")) { // NOTE THIS YEAR WILL NEED TO CHANGE IF DATA CHANGES
                  lielement.setAttribute("class", "not_available");
                  lielement.setAttribute("draggable", "false"); // prevent dragging of units with class not_available
                  lielement.style.cursor = "pointer"; // change cursor of units with class not_available to pointer rather than 'grabbing'
              }
              if (availability.includes("Semester 1")) {
                lielement.setAttribute("class", "sem1");
              }
              if (availability.includes("Semester 2")) {
                  lielement.setAttribute("class", "sem2");
              }
              if (availability.includes("Semester 1") && availability.includes("Semester 2")) {
                  lielement.setAttribute("class", "sem1and2");
              }
              if (availability.includes("Non-standard")) {
                  lielement.setAttribute("class", "non_standard");
                  lielement.setAttribute("draggable", "false"); // prevent dragging of units with class non_standard
                  lielement.style.cursor = "pointer"; // change cursor of units with class non_standard to pointer, rather than 'grabbing'
              }
              //TODO: Figure out how to handle loaded study plans where all core units have been assigned.	
              if (key!='Core'){ //&& unitsTaken[1][1] != unitsTaken[1][2]) {	
                //lielement.setAttribute("class", "non_core"); //set this to apply element warning.	
                //alert(unitsTaken[1][1] + '/' + unitsTaken[1][2]);
                lielement.setAttribute("class", "non_standard");	
                lielement.setAttribute("draggable", "false"); // prevent dragging of units with class non_standard	
                lielement.style.cursor = "pointer";	
              }
            }
            else {lielement.setAttribute("class", "element")}
            
            unitRoleUl.appendChild(lielement); // append li element/unit
          }
        }
      }
        // appends unit group points to header
        infoDiv.insertAdjacentHTML("afterbegin", groupPoints);
    }
    x+=1;
  });

  // This function needs to start after the page is loaded
  const unitDiv = document.querySelectorAll('.target');
  const unitListElement = document.querySelectorAll('.unit-ul li');
  let target = null

  // The ghost element (holds what gets dragged on dragstart)
  let ghostEle;

  var parents = [];

  // for each action on the individual unit list elements
  unitListElement.forEach(item=> {
    // event listener for dragstart events
    item.addEventListener('dragstart', (event) => {
      target = event.target;
      sourceInfo = event.target; // sourceInfo will hold info about the list element, e.g., what id it has, etc.

      item.style.opacity = '0.3';
      })

    item.addEventListener('dragend', (event) => {
      item.style.opacity = '1';
    })

    // Prevent list items from getting a border
    item.addEventListener('dragover', (event) => {
      itemID = item.id;
      liID = document.getElementById(itemID);
      liID.style.border = "";
    });

  });

  var startSemester = document.getElementById('year1semester1').innerHTML;

  // for each action on the unit divs/target divs
  unitDiv.forEach(item => {
    // event listener for drop events
    item.addEventListener('drop', (event) => {
      // create remove unit x dynamically
      const node = document.createElement('span');
      nodeID = item.id + " node";
      node.setAttribute("id", nodeID);
      node.setAttribute("class", "removeunitbutton");
      document.getElementById(item.id).appendChild(node);
      closebutton = document.getElementById(nodeID);
      closebutton.innerHTML = '<i class="fa-solid fa-circle-minus"></i>';
      removeUnit(nodeID, sourceInfo, item, closebutton);
    })

    item.addEventListener('dragstart', (event) => { 
      //remove remove unit x upon lift of unit
      closebutton.remove();      
    })

    // event listener for dragover events 
    item.addEventListener('dragover', (event) => {

      //Unit availability constraint on grid/unit divs
      targetID = event.target.id; // grabs id from target div
      if (startSemester.includes("Semester 1")) { // if semester heading containes 'Semester 1'
        if (targetID.includes("sem1") && sourceInfo.className == "sem2") { // checks if target div has sem1 in id, and if source li has sem2 in classname
          alert("This unit is only available in Semester 2.");
          changeBorderRed(targetID);
          return false;
        }
        if (targetID.includes("sem2") && sourceInfo.className == "sem1") {
          alert("This unit is only available in Semester 1.");
          changeBorderRed(targetID);
          return false;
        }
        else {changeBorderGreen(targetID);}
      }
      if (startSemester.includes("Semester 2")) { // if semester heading containes 'Semester 2'
        if (targetID.includes("sem2") && sourceInfo.className == "sem2") { // this is going to look strange as we're only changing the semester headings if the user selects sem 2, nothing else. standard is sem 1 start and grid has been set up according to this. 
          alert("This unit is only available in Semester 2.");
          changeBorderRed(targetID);
          return false;
        }
        if (targetID.includes("sem1") && sourceInfo.className == "sem1") {
          alert("This unit is only available in Semester 1.");
          changeBorderRed(targetID);
          return false;
        }
        else {changeBorderGreen(targetID);}
      }
      
      // the below adds an event listener for dragover events on target divs - if a target div already holds a unit, 
      // the below will prevent a user from populating it with a second unit
      var t = event.target;
      while (t !== null && !t.classList.contains("target")) {
        t = t.parentNode;
      }
      if (t && t.childNodes.length > 0) { // Return false if user tries to place more than 1 unit per unit div
        return false;
      }
      event.preventDefault();
    })

  })
  
  // function for removing a unit
  function removeUnit(nodeID, sourceInfo, item, closebutton) {
    // add eventlistener on the nodeID, i.e., the ID of the removal unit button
    document.getElementById(nodeID).addEventListener('click', function handleClick(event) {
      //remove remove unit x upon lift of unit
      unit = document.getElementById(sourceInfo.id) // get unit info from the unit/li's ID
      //console.log(nodeID);
      //console.log(sourceInfo.id);
      ul_of_unit = unit.getAttribute('tag'); // get tag value from unit, which will be its initial 
      ul = document.getElementById(ul_of_unit); // get the ul

      // remove old elements
      div = document.getElementById(item.id); // get old li, i.e., li that is in the unitdiv
      div.childNodes[0].remove();
      closebutton.remove();

      // recreate element item and append to initial ul
      var new_li = document.createElement("li");
      new_li.appendChild(document.createTextNode(unit.id));
      new_li.setAttribute("id", unit.id);
      new_li.setAttribute("tag", (ul_of_unit));
      new_li.setAttribute("draggable", "true");
      new_li.setAttribute("ondragstart", "drag(event)");
      new_li.setAttribute("class", unit.className);
      ul.append(new_li);

      })
    }


}); // EVENT LISTENER ON WINDOW DOM ENDS HERE


// when li elements are created, they will get an 'ondragstart = drag(event)' attribute dynamically
function drag(event) {
  sourceInfo = event.target; // sourceInfo will hold info about the list element, e.g., what id it has, etc.
  event.dataTransfer.setData('dragID', sourceInfo.id)

  // Set drag image (what the browser sets as the drag image on dragstart)
  ghostEle = document.createElement('div');
  ghostEle.innerHTML = sourceInfo.id; // add the id of the item ghost element
  event.dataTransfer.setDragImage(ghostEle, 0, 0); // Customize the drag image to be the sourceInfo variable's id - this overrides the browser's innate drag image
}

// drop makes sure that the id of the dropped element gets appended to the div, so when there's a drop, the unit's ID will appear in the div
function drop(event) {
  event.preventDefault();
  const data = event.dataTransfer.getData('dragID');
  event.target.appendChild(document.getElementById(data));
  //Code to track credit points	
  var unit=document.getElementById(data).innerHTML;	
  var points=creditpoints[unit];	
  var i=0;	
  //for (const [key, value] of Object.entries(unitlists1)) {	
    //var unitArr = (`${value}`).split('***, '); 	
    //unitArr = unitArr.map(elem => elem.replace("***", "")); 	
    //if(unitArr.includes(unit)){	
    //  console.log(unitsTaken);	
    //  counter=unitsTaken[i][1];	
    //  counter+= parseInt(points);	
    //  console.log(counter);
}

// reset button for clearing screen
const reset = document.getElementById("reset");
reset.addEventListener("click", () => window.location.reload());

// this function changes the background of target zones where a unit is not permitted
function changeBorderRed(targetid){
  id = document.getElementById(targetid);
  idClass = id.className;

  // if target div is unavailable
  if (idClass == "target") {
    id.style.border = "3px solid #ff8282";
  }

  id.addEventListener("dragleave", (event) => { // no border on leave
      id.style.border = "";
  });
}

// this function changes the background of target zones where a unit is permitted
function changeBorderGreen(targetid){
  id = document.getElementById(targetid); 
  idClass = id.className;

  // if target already contains a unit and the user hovers on this
  if (idClass.includes("sem")) {
    var parentofli = $(id).closest("div");
    parentofli[0].style.border = "3px solid #ff8282"; // change border color of parent div to red
    alert("You have already placed a unit in this box.");
  }

  // if target div is empty and available
  checkifhaschildren = false; // check if id has any units in it already
  if ( id.hasChildNodes() ) {checkifhaschildren = true;}
  if (idClass == "target" && checkifhaschildren == false) { // if target div class name is 'target' and it has no units in it already
    id.style.border = "3px solid rgb(160 209 160)"; // change border of target div to green
  }

  // on dragleave, remove border
  id.addEventListener("dragleave", (event) => { // no border on leave
      id.style.border = ""; 
      if (idClass.includes("sem")) { 
        var parentofli = $(id).closest("div");
        parentofli[0].style.border = "";
      }
    });

  // on drop, remove border
  id.addEventListener("drop", (event) => { // no border on drop
      id.style.border = "";
  });
}

// This is the alert function - pass a string to the alert function as that string is what will be rendered in the alert box (bottom warning bar)
function alert(alerttext){
  var alert = alerttext;

  //Display prerequisites in the floating box
  const warningelement = document.getElementById('warning'); 
  warningelement.style.display = 'block'; 
  var warningtext = document.getElementById("alertinfo");
  warningtext.innerHTML = "";

  var txt = document.createTextNode(alert);
  warningtext.appendChild(txt);
}

// Functions to show and close the general-info modal - Done by Valerie
//Modal - open general-info modal
const modal = document.getElementById('my-modal'); 

function openModal(){
  const modal = document.getElementById('my-modal'); // get the modal that needs to be showed
  modal.style.display = 'block'; //show the modal after click action
}

function closeModal(){
  const modal = document.getElementById('my-modal'); // get the modal that needs to be closed
  modal.style.display = 'none'; //hide the modal after clicking the close button
}

function closeWarningModal(){
  const warningicon = document.getElementById("warning");
  warningicon.style.display = 'none';
}

// unit modal
var unitmodal = document.getElementById('unit-modal'); 

function openUnitModal(){
  unitmodal.style.display = 'block'; //show the modal after click action
}

function closeUnitModal(){
  const warningicon = document.getElementById("warning");
  unitmodal.style.display = 'none'; //hide the modal after clicking the close button
  warningicon.style.display = 'none';
}

// when user clicks anywhere outside of a modal window when a modal window is open, close the modal
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
  if (event.target == unitmodal) {
    unitmodal.style.display = "none";
  }
}

// Functionality for clicking on units


// Click event - modal opens and populates on unit click
document.addEventListener('click',function(e){
    if(e.target && 
        e.target.classList == 'element' | 
        e.target.classList == 'sem1' | 
        e.target.classList == 'sem2' |
        e.target.classList == 'sem1and2' |
        e.target.classList == 'not_available' |
        e.target.classList == 'non_standard'        
        ){
      id = event.target.id;

      document.getElementById("title").innerHTML = id; // change innerhtml of id to unit code + title
      for (var key in creditpoints){if (key == id) {document.getElementById("creditpoints").innerHTML = creditpoints[key];}} // change innerhtml to credit points
      for (var key in availabilityofunits){if (key == id) {
        if (availabilityofunits[key].includes("Non-standard")) {
          document.getElementById("nonstandardteachingperioddiv").style.display = "flex";
          document.getElementById("nonstandardteachingperiod").innerHTML = availabilityofunits[key];
        }
        else {
          document.getElementById("nonstandardteachingperioddiv").style.display = "none";
        }
        if (availabilityofunits[key].includes("Not available")) {
          document.getElementById("notavailablediv").style.display = "flex";
          document.getElementById("notavailabledivtext").innerHTML = availabilityofunits[key];
        }
        else {
          document.getElementById("notavailablediv").style.display = "none";
        }
      }} 

      for (var key in content){if (key == id) {document.getElementById("description").innerHTML = content[key];}} // change innerhtml to unit description
      for (var key in unitoutcomes){if (key == id) {document.getElementById("outcomes").innerHTML = unitoutcomes[key];}} // change innerhtml to unit outcome
      for (var key in prereq){if (key == id) {document.getElementById("prereqs").innerHTML = prereq[key];}} // change innerhtml to prereq
      for (var key in corereq){if (key == id) {document.getElementById("coreqs").innerHTML = corereq[key];}} // change innerhtml to corereq
      for (var key in incompatibilities){if (key == id) {document.getElementById("incomp").innerHTML = incompatibilities[key];}} // change innerhtml to incompatibility
      openUnitModal();
     }
 });

// function for downloading a pdf (whole page)
// code based on the second answer from this page: https://stackoverflow.com/questions/17293135/download-a-div-in-a-html-page-as-pdf-using-javascript

function CreatePDFfromHTML() {
    var course = document.getElementById('course-title').innerHTML
    var specialisation = document.getElementById('course-major').innerHTML
    var div_Width = $("#grid-content").width();
    var div_Height = $("#grid-content").height();
    var top_left_margin = 15;
    var PDF_Width = div_Width + (top_left_margin * 2);
    var PDF_Height = (PDF_Width * 1.5) + (top_left_margin * 2);
    var canvas_image_width = div_Width;
    var canvas_image_height = div_Height;

    var totalPDFPages = Math.ceil(div_Height / PDF_Height) - 1;

    html2canvas($("#grid-content")[0]).then(function (canvas) {
        var imgData = canvas.toDataURL("image/jpeg", 1.0);
        var pdf = new jsPDF('p', 'pt', [PDF_Width, PDF_Height]);
        pdf.addImage(imgData, 'JPG', top_left_margin, top_left_margin, canvas_image_width, canvas_image_height);
        for (var i = 1; i <= totalPDFPages; i++) { 
            pdf.addPage(PDF_Width, PDF_Height);
            pdf.addImage(imgData, 'JPG', top_left_margin, -(PDF_Height*i)+(top_left_margin*4),canvas_image_width,canvas_image_height);
        }
        if (specialisation == "No major or specialisation available"){
          pdf.save(course + ".pdf");
        } else {
          pdf.save(course + " " + specialisation + ".pdf");
        }     
    });
}

//Function for overloading - Ancy
// This add one more grid to each semester if the user wants to do 5 units in a semester

//Function that will display the fifth unit if user click '+' button and remove that grid when click '-' icon
// https://github.com/QianrXU/Study-Planner/issues/85
// https://github.com/QianrXU/Study-Planner/issues/79
function addSem11OverLoad(button) {
  var x = document.getElementById("year1sem1_5");
   $(button).find('i').remove();
   if ($(button).text().trim() == 'Add overload') {
     $(button).html($('<i/>',{class:'fa fa-minus-circle'})).append('Remove overload');
     x.style.display = "block";}
    else {
      if (confirm("Do you want to remove the unit?") == true) {
        $(button).html($('<i/>',{class:'fa fa-plus-circle'})).append('Add overload');
        x.style.display = "none"

      } else {
          $(button).html($('<i/>',{class:'fa fa-minus-circle'})).append('Remove overload');
          x.style.display = "block";
        }
    }
  
}
//Function that will display the fifth unit if user click '+' button and remove that grid when click '-' icon
function addSem12OverLoad(button) {
  var x = document.getElementById("year1sem2_5");
   $(button).find('i').remove();
   if ($(button).text().trim() == 'Add overload') {
     $(button).html($('<i/>',{class:'fa fa-minus-circle'})).append('Remove overload');
     x.style.display = "block";}
    else {
      if (confirm("Do you want to remove the unit?") == true) {
        $(button).html($('<i/>',{class:'fa fa-plus-circle'})).append('Add overload');
        x.style.display = "none"

      } else {
          $(button).html($('<i/>',{class:'fa fa-minus-circle'})).append('Remove overload');
          x.style.display = "block";
        }
    }
  
}
//Function that will display the fifth unit if user click '+' button and remove that grid when click '-' icon
function addSem21OverLoad(button) {
  var x = document.getElementById("year2sem1_5");
   $(button).find('i').remove();
   if ($(button).text().trim() == 'Add overload') {
     $(button).html($('<i/>',{class:'fa fa-minus-circle'})).append('Remove overload');
     x.style.display = "block";}
    else {
      if (confirm("Do you want to remove the unit?") == true) {
        $(button).html($('<i/>',{class:'fa fa-plus-circle'})).append('Add overload');
        x.style.display = "none"

      } else {
          $(button).html($('<i/>',{class:'fa fa-minus-circle'})).append('Remove overload');
          x.style.display = "block";
        }
    }
  
}
//Function that will display the fifth unit if user click '+' button and remove that grid when click '-' icon
function addSem22OverLoad(button) {
   var x = document.getElementById("year2sem2_5");
   $(button).find('i').remove();
   if ($(button).text().trim() == 'Add overload') {
     $(button).html($('<i/>',{class:'fa fa-minus-circle'})).append('Remove overload');
     x.style.display = "block";
    }
    else {
      if (confirm("Do you want to remove the unit?") == true) {
        $(button).html($('<i/>',{class:'fa fa-plus-circle'})).append('Add overload');
        x.style.display = "none"

      } else {
          $(button).html($('<i/>',{class:'fa fa-minus-circle'})).append('Remove overload');
          x.style.display = "block";
        }
      
    }
}



</script>


{% endblock %}