{% extends "base.html" %}
{% block content %}

<div>
    <div class = "signup_div">
        <!-- Need to define this class once I find out which stylesheet is the main one. -->
        <h3 class="signup_h3"> My Study Plans </h3>
    </div>
    <div class="form-container-generic">
        <div class="container-account-study-plans">
            {% if results == 0 %}
                <p>You have no saved study plans.</p>
            {% else %}
                <p style="font-family: TTNorms; font-weight: 400;"> Saved study plans: </p>
                <ul class="list-account-study-plans">    
                {% for SP in SP_array %}
                    <li>
                        <button id=" {{ SP[0] }}a" onClick="open_SP(this.id)"> {{ SPS[1] }} </button> 
                        <button id=" {{ SP[0] }}" onClick="delete_SP(this.id)"> <i class="fas fa-trash"></i> </button>
                        <hr style="border-top: 1px solid #C9C9C9;">
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
              
        </div>
    </div>
</div>

<script>
    /* Function to delete study plan. */
function send_data(redir, SP_id){
  // posts SP id to console log
  console.log(SP_id);

  // if delete button pressed, it sends the id to the backend.
  $.ajax({
    type: "POST",
    url: "{{ url_for('account') }}",
    data: {"SP_id": SP_id,
           "redir": redir }
  })
}

function delete_SP(SP_id){
    var redir="False"
    send_data(redir, SP_id)
}

function open_SP(SP_id){
    var redir="True"
    var SP=SP_id.substring(-1)
    send_data(redir, SP)
}


</script>


{% endblock %}