<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Load internal CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='ancy.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='studyplan.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='navbarandfooter.css') }}">

  <!-- Fonteawesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://kit.fontawesome.com/78fa101452.js" crossorigin="anonymous"></script>
  
  <!-- Load Google icon library -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Load Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">

  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" >
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
  
  <!-- Jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <title>{% block title %}{% endblock %} Study Planner</title>
  {% endblock %}
</head>

<body>
  <div class="main">
    
    <!-- NAVIGATION BAR -->
    <header class="headercontainer" role="banner">
      <div class="uwa-header">    
        <div>
          <a href="index">
              <img alt="The University of Western Australia" height="50px" width="153px" src="{{ url_for('static', filename = 'uwacrest-white-logo.svg') }}">
          </a>
          <ul class="site-nav">
            <li><a class="a" href="{{ url_for('login') }}">Log in</a></li>
            <li><a class="a" href="{{ url_for('signup') }}">Sign up</a></li>
            <li><a class="a" href="{{ url_for('faq') }}"><i class="fa-solid fa-circle-question"></i></a></li>
          </ul>  
        </div> 
      </div>


    <!-- TOP BAR -->
      
      <div class="main-header">
    
          <h1 class="headerfont">
              change for the page 
          </h1>
    
      </div>
    </header>

    <!-- MAIN CONTENT -->
    <div class="main-content">{% block content %}{% endblock %}</div>


    <!-- FOOTER -->
      {% block footer %}

      <footer class="footercontainer" role="contentinfo">
        <div class="footdiv">
            <div class="footlink">
                <ul class="social-icons">
                    <li>
                        <a href="https://twitter.com/uwanews" title="Twitter">
                            <i class="fa-brands fa-twitter" style="color: rgb(29, 155, 240);"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/universitywa" title="Facebook">
                            <i class="fa-brands fa-facebook-f" style=" color: #3B5998 !important;"></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.linkedin.com/company/university-of-western-australia" title="Linkedin">
                            <i class="fa-brands fa-linkedin-in"style="color: #27348B !important;"></i></a></li>
                    <li>
                        <a href="http://instagram.com/universitywa" title="Instagram">
                            <i class="fa-brands fa-instagram" style="color: #125688 !important;"></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.youtube.com/user/universitywa" title="YouTube">
                            <i class="fa-brands fa-youtube" style="color:#BB0000 !important;"></i>
                        </a>
                    </li>
                </ul>    
            </div>
            <div>
                <h1> The University of Western Australia </h1>
                <div class="info-div">
                    <ul class="icon">
                        <li>
                            <i class="fa-solid fa-location-dot"></i>
                            35 Stirling Highway <br>Perth WA 6009 Australia
                        </li>
                        <li>
                            <i class="fa-solid fa-phone"></i>
                            (+61) 8 6488 6000
                        </li>
                    </ul>
                </div>
                <div class="endinfo">
                    <img alt="The University of Western Australia" height="50px" width="153px"  src="{{ url_for('static', filename = 'UWA_FORMAL_LANDSCAPE_CMYK.png') }}">
                </div>
            </div>
        </div>
        <div class="yellowbar">
        </div>
      </footer>
    
    </div>
      {% endblock %}

  <!-- END OF DOC -->

  <!-- Load JS files -->
  <script src="/static/javascript.js"></script>

</body>



</html>