{% extends "base.html" %}
{% block content %}
        
<!--FAQ-->
<!--https://github.com/QianrXU/Study-Planner/issues/14-->
<div style="width:50%;">
  <div style="height: 70px; background-color: #EBEBEB; width: 100%;">
      <h3 style="padding: 25px; padding-left: 60px;">FAQ</h3>
  </div>
  <div class="form-container-generic">
   <!--FAQ temperory text need to be replaced with the original content-still need to get it from client-->       
    <div >
      <button class="accordion-faq">What is Study Planner?</button>
      <div class="panel-faq">
        <p>The Study Planner is a UWA tool that allows students to create study plans for their future studies.</p>
      </div>

      <button class="accordion-faq">How do i use study planner tool?</button>
      <div class="panel-faq">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>

      <button class="accordion-faq">Do i need to sign up?</button>
      <div class="panel-faq">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
 
    </div>
</div>




<script>
  var acc = document.getElementsByClassName("accordion-faq");
  var i;
  
  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
      this.classList.toggle("active-faq");
      var panel = this.nextElementSibling;
      if (panel.style.maxHeight) {
        panel.style.maxHeight = null;
      } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
      } 
    });
  }
</script>
 {% endblock %}