{% extends "base.html" %}
{% block content %}
 
        
            <div class="colm-heading">
                <h1 style="font-family: 'Novel Pro';">Study planner tool</h1>
            </div>
           
                
                <div  style="background-color: white ; text-align: center;">
                        
                

                 </div>
                 <div>
                     <p class="para1">
                        GAIN AN EXPERIENCE RICH EDUCATION
                     </p>  <br>
                     <p class="para2">
                        Ready to Plan your
                     </p><br>
                     <p class="para3">
                        future at UWA?
                     </p>
                     <br>
                     <button class="btn-login" style="position:absolute ; width:247px;height:55px;left:150px;top:350px;">Create Study Plan</button> 
                    
                </div>
           
               </div>
            
    
                {% endblock %}