{% extends "base.html" %}
{% block content %}
 <!--HOME PAGE-->
<div style="text-align: center;">
    <p class="para1">GAIN AN EXPERIENCE RICH EDUCATION</p>
    <p class="para2">Ready to plan your</p>
    <p class="para3">future at UWA?</p>
   <!--Button than links to course selection page-->

    <a href="{{ url_for('createstudyplanSelectCourse') }}" class="button_general" id="mainbutton">Create Study Plan<span class="arrow"><i class="fa-sharp fa-solid fa-angles-right"></i></span></a>
  
</div>


{% endblock %}