{% extends "base.html" %}
{% block content %}
 <!--HOME PAGE-->
 <!--https://github.com/QianrXU/Study-Planner/issues/11-->
<div style="text-align: center;">
    <p class="para1">GAIN AN EXPERIENCE RICH EDUCATION</p>
    <p class="para2">Ready to plan your</p>
    <p class="para3">future at UWA?</p>
   
    <a href="{{ url_for('createstudyplanSelectCourse') }}" class="button_general" id="mainbutton">Create Study Plan<span class="arrow"><i class="fa-sharp fa-solid fa-angles-right" id="buttonarrow"></i></span></a>
  
</div>


{% endblock %}