{% extends "base.html" %}
{% block content %}
 <!--Login page design based on FIGMA and style guide from client-->       
 <!--https://github.com/QianrXU/Study-Planner/issues/12-->
<div>
  <div class = "signup_div">
      <h3 class="signup_h3">Log in</h3>
   </div>
   <div class = "form-container-generic">
     <!--To get user input from , HTML form is used here, The user input is sent to a server(backend) for processing -->
      <form method="post">
        {{ form.hidden_tag() }}
        <!--Displaying labels and input fields as a table-->
        <div class="login">
          <table style="width:100%">
              <tr>
                <td class="loginsignup-td">{{ form.email.label }}</td>
                <td>{{ form.email(size=64) }}<br>
                  {% for error in form.email.errors %}
                  <span style="color:red; font-size: 16px; ">{{ error }}</span>
                  {% endfor %}</td>  
              </tr>
              <tr>
                <td class="loginsignup-td">{{ form.password.label }}</td>
                <td>{{ form.password(size=64) }}<br>
                  {% for error in form.password.errors %}
                  <span style="color:red; font-size: 16px;">{{ error }}</span>
                  {% endfor %}</td>
  
              </tr>
              
            </table>
          </div>
         <br>
         <!--Remember me functionality-->
          {{ form.remember_me() }} {{ form.remember_me.label }} 
          <br>
         <!--Login submit button-->
          <button type="submit" class="button_general" id="loginsignupbutton">Log in<span class="arrow"><i class="fa-sharp fa-solid fa-angles-right" id="buttonarrow"></i></span></button>
         
    <!--Forgot password functionality need to be added- sprint 3-->
      </form>
        <!-- Link to Register  page-->
        <br>
        <p ><a href="{{ url_for('signup') }}">Don't have an account?</a></p>
            
   </div>
</div> 

{% endblock %}

