{% extends "base.html" %}
{% block content %}

<div>
    <h1>This is my account.</h1>
</div>

<div>
    <div style="height: 70px; background-color: #EBEBEB; width: 100%;">
        <!-- Need to define this class once I find out which stylesheet is the main one. -->
        <h3 class="myAccountHeader"> My study plans </h3>
    </div>
    <div class="form-container-generic">
        <div class="container-account-study-plans">
            <p style="font-family: TTNorms; font-weight: 400;"> Saved study plans </p>
            <p style="display:none;">You have no saved study plans.</p>

            <!--Pull in saved study plans from database here-->
            <!--Need an if statement that sets this display to none and above display to inline-block-->
            <!--List needs to be dynamic, there should be a list item for every row found in the database.-->
            <ul class="list-account-study-plans">
                <li>
                    <a href="http://none">
            {% if results == 0 %}
                <p>You have no saved study plans.</p>
            {% else %}
                <ul>    
                {% for SP in SP_array %}
                    <!-- Needs to link to prepopulated version of this page -->
                    <li>
                        <a href="{{ url_for('createstudyplan-units') }}"> {{ SPS[1] }} </a> 
                        <button id=" {{ SP[0] }}"> <i class="fas fa-trash"></i> </button>
                    </li>
                {% end for %}
                </ul>
            {% endif %}
            
            
        </div>
    </div>
</div>



{% endblock %}