<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>need change</title>
        <link rel="stylesheet" href="static/font/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="static/style2.css" >
        <script src="https://kit.fontawesome.com/78fa101452.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header class="headercontainer" role="banner">
            <div class="uwa-header">    
                     <div>
                        <a href="https://www.uwa.edu.au/">
                            <img alt="The University of Western Australia" height="50px" width="153px" src="picture/uwacrest-white.png">
                        </a>
                         
                    <ul class="site-nav">
                        <li>
                            <a class="a" href="login.html">
                                Log in
                            </a>
                        </li>
                        <li>
                            <a class="a" href="signup.html">
                                Sign up
                            </a>
                        </li>
                        <li>
                            <a class="a" href="https://www.ask.uwa.edu.au/">
                                <i class="fa-solid fa-circle-question"></i>
                            </a>
                        </li>
                    </ul>  
                </div> 
                    
                
            </div>
            <div class="main-header">
                
                <h1 class="headerfont">
                    change for the page 
                </h1>
                
            </div>
        </header>


        <footer class="footercontainer" role="contentinfo">
            <div class="footdiv">
                <div class="footlink">
                    <ul class="social-icons">
                        <li>
                            <a href="https://twitter.com/uwanews" title="Twitter">
                                <i class="fa-brands fa-twitter" style="color: rgb(29, 155, 240);"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/universitywa" title="Facebook">
                                <i class="fa-brands fa-facebook-f" style=" color: #3B5998 !important;"></i>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.linkedin.com/company/university-of-western-australia" title="Linkedin">
                                <i class="fa-brands fa-linkedin-in"style="color: #27348B !important;"></i></a></li>
                        <li>
                            <a href="http://instagram.com/universitywa" title="Instagram">
                                <i class="fa-brands fa-instagram" style="color: #125688 !important;"></i>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.youtube.com/user/universitywa" title="YouTube">
                                <i class="fa-brands fa-youtube" style="color:#BB0000 !important;"></i>
                            </a>
                        </li>
                    </ul>    
                </div>
                <div>
                    <h1> The University of Western Australia </h1>
                    <div class="info-div">
                        <ul class="icon">
                            <li>
                                <i class="fa-solid fa-location-dot"></i>
                                35 Stirling Highway <br>Perth WA 6009 Australia
                            </li>
                            <li>
                                <i class="fa-solid fa-phone"></i>
                                (+61) 8 6488 6000
                            </li>
                        </ul>
                    </div>
                    <div class="endinfo">
                        <img alt="The University of Western Australia" height="50px" width="153px"  src="picture/UWA_FORMAL_LANDSCAPE_CMYK.png">
                    </div>
                </div>
            </div>
            <div class="yellowbar">
            </div>
        </footer>
    </body>
</html>